@font-face {
	 font-family: "Roboto";
	 src: url("https://fonts.googleapis.com/css?family=Roboto");
}

/* ------------------------------------------------------------------------------------------ */

$grille_1: 1200px;
$grille_2: 350px;

$colorOrange: #fc6d00;


/* ------------------------------------------------------------------------------------------ */

html, body {
	padding: 0;
	margin: 0;

	width: 100%;

	background: linear-gradient(to bottom, $colorOrange, #fc4a1a);

	font-family: Roboto;

	overflow-x: hidden;

	a {
		text-decoration: none;
	}
}

/* ------------------------------------------------------------------------------------------ */

@mixin btn() {
	position: relative;
	padding: 6px 16px;
	
	color: #fff;
	border: 2px solid $colorOrange;

	font-family: Roboto;
	font-size: 20px;

	&:before {
		content:" ";
		position:absolute;

		top:0;
		right:0;
		width: 0;
		height: 100%;
		z-index: -1;
		background-color:$colorOrange;

		transition: width .5s ease;
	}
	&:hover:before {
		width: 100%;
		left: 0;
	}
}


/* ------------------------------------------------------------------------------------------ */


.lightbox {

	display: none;

	position: fixed;
	z-index: 100;

	top: 2%;
	left: 2%;

	width: 95%;
	height: 95%;

	background: linear-gradient(to right, #232526, #414345);
	border-radius: 20px;

	transform: scale(0);
	opacity: 0;

	&.show {
		display: block;
	    transform: scale(1);
	    opacity: 1;
		animation: scaleUp .4s ease-in-out;
	}

	&.unshow {
		animation: scaleDown .5s ease-in-out;
	}

	.cross {
		position: absolute;
		color: $colorOrange;
		width: 50px;
    	height: 50px;

    	top: 10px;
    	right: 10px;

    	cursor: pointer;

    	svg {
    		width: 100%;
    		height: 100%;
    	}

    	&:hover {
    		opacity: 0.8;
    	}
	}

	.back_img {
		position: relative;
		height: 100%;
		width: 30%;
		background-repeat: no-repeat;
		background-size: 250%;
		background-position: 50%;
		filter: blur(0.4rem);
	}

	.behind_img {
		position: absolute;
		top: 50%;
    	transform: translateY(-50%);
	    left: 12%;
	    width: 400px;
	    height: 600px;
	    background-size: 100% 100%;
	    background-repeat: no-repeat;
	}
}

@keyframes scaleUp {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes scaleDown {
  0% {
  	display: block;
    opacity: 1;
  }
  1% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    display: none;
    opacity: 0;
    transform: scale(0);
  }
}

.container.blur {
	filter: blur(1rem);
}


/* ------------------------------------------------------------------------------------------ */

.card {
	min-width: 360px;
	height: 225px;
	background-color: #fff;
	border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: all .3s ease;
	transform: scale(0.95);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.03);
}

.card__image {
  position: absolute;
  background-size: cover;
  width: 100%;
  height: 100%;
  transition: all .3s ease;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    bottom: 0;
    transition: all .3s ease;
    background-image: linear-gradient(-180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  }
}

.card__info {
	top: -60px;
	width: 100%;
	position: absolute;
	bottom: 0;
	transition: all 0.3s ease;
	color: white;
  	transform: translateY(188px);

	.title {
		margin-bottom: 7px;
		font-size: 24px;
		font-weight: bold;
		position: relative;
		padding-bottom: 0.4rem;
		padding-left: 10px;
		z-index: 200;
		transition: all .3s ease;

		&:after {
			position: absolute;
			content: "";
			bottom: 0px;
			left: 10px;
			width: 60px;
			height: 3px;
			background: $colorOrange;
			z-index: 100;
  			transition: all .3s ease;
		}

	}

	.genre {
		color: #b3b7b9;
		margin-top: 0.4rem;
		padding-left: 10px;
		font-size: 15px;
		transition: all .3s ease;
	}

	.desc {
		background: white;
		margin-top: 10px;
		color: #78848e;
		padding: 20px 20px;
		font-size: 15px;
		transition: all .3s ease;
		transform: translateY(20px);
		height: 150px;

		p {
			line-height: 1.3;
		}

	}

	.rating {
		display: flex;
		justify-content: space-between;

		p {
			margin: 0;
		}

		.stars {
			color: lighten(#ffc807, 10%);
		}

		.meta {
			font-weight: 500;
			font-style: italic;
		}

		i {
			width: 0.8em;
			transform: translateY(-3px);

			&:last-child {
				color: #e0e0e0;
			}
		}
	}

	.button {
		background: linear-gradient(to right, #232526, #414345);
		text-align: center;
		display: block;
		padding: 15px;
		text-decoration: none;
		transition: all .3s ease;
		color: white;
		font-size: 15px;
		cursor: pointer;
		&:hover {
			opacity: 0.9;
		}
	}
}

.card:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 12px 22px rgba(0, 0, 0, 0.15);
  transform: scale(1);

  .card__image {
    transform: translateY(-150px);
  }

  .card__info {
    transform: translateY(-50px);
  }

  .genre {
    opacity: 0;
  }

  .title {
    padding-bottom: 10px;
    transform: translateY(33px) translateX(10px);

    &:after {
      width: 85%;
      transform: translateX(-20px);
      transition-delay: 0.3s;
      transition: transform 0.3s ease, width 3s ease-in;
    }

  }

  .desc {
    transform: translateY(1px);
  }

}